Reading and Writing Files using pandas

In [34]:
import pandas as pd

In [35]:
df = pd.read_csv('C:\\Users\\harip\\Desktop\\refrence\\data_science\\dataset\\nyc_weather.csv')
df.head(1)

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.03,10,8.0,0,5,NaN,281

In [36]:
df = df.set_index('EST')
df.head()

,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
EST,,,,,,,,,,
1/1/2016,38,23,52,30.03,10,8.0,0,5,NaN,281
1/2/2016,36,18,46,30.02,10,7.0,0,3,NaN,275
1/3/2016,40,21,47,29.86,10,8.0,0,1,NaN,277
1/4/2016,25,9,44,30.05,10,9.0,0,3,NaN,345
1/5/2016,20,-3,41,30.57,10,5.0,0,0,NaN,333

In [37]:
df = df[['Temperature','Events','WindDirDegrees']]
df.head(1)

          Temperature Events  WindDirDegrees
EST
1/1/2016           38    NaN             281

MAKING A NEW DF USING THE ABOVE COND.

In [42]:
df.to_csv('no_index.csv',index= False)
# NOTE this false value removes the index EST

Here we are writing only the specific columns

In [41]:
df[['Events','WindDirDegrees']].to_csv('no_header.csv',header = None)