FUNCTIONS & RECURSIVE FUNCTIONS

a block of code that can be executed n number of times

IF YOU WRITE A CODE MORE THAN TWICE MAKE IT A FUNCTION

In [2]:
# Assume printing a sum of numbers
a = 10
b = 20
print(a+b)

# Or..
print(10+20)

# This code is useable only once, we need to create a new variable and then pass values

30
30

Sample Function ..

In [6]:
def add_two_numbers(number1,number2):
    print(number1 + number2)

In [10]:
add_two_numbers(10,20)
add_two_numbers(40,50)
add_two_numbers(number1=50,number2=60) # You can also do this

# Here..
# You can reuse the code n times

30
90
110

DIFFERENCE BTW A FUNCTION THAT JUST PRINTS AND FUNCTION THAT RETURNS A VALUE

In [12]:
# A normal print func..
def addSum(number1,number2):
    print(number1 + number2)

# A function with return..
def addSumR(number1,number2):
    return number1 + number2

In [13]:
# Both the functions will print the output..
    # But with return function we can store the output into a variable or use for another operations

addSum(10,20)
addSumR(10,20)

30

30

Working different case scenario

In [18]:
# Assume the function prints a car milage ..
car_milage = addSum(10,20)
        # Here it just prints a number but cannot be stored into a variable

print(car_milage)
# This is returning NONE cause it is not returning.. any value

30
None

In [28]:
# Assume the function return a car milage ..
car2_milage = addSumR(10,20)

print(car2_milage)
# I can use this inside another function


# NOTE another-function

def my_carMilage(carName,carMilage):
    print(f"my car {carName} gives {carMilage}")

30

In [24]:
my_carMilage("Maruthi", car2_milage)
# car2_milage is given from the function

# When you use a non-return function
my_carMilage("KIA", car_milage)

my car Maruthi gives 30
my car KIA gives None

OTHER WAYS OF PASSING VALUES TO ARGUMENT

In [25]:
my_carMilage("toyota",addSumR(10,4)) 
# You can also use this function

my car toyota gives 14

In [27]:
my_carMilage("toyota",addSum(10,4)) 
# Same technique without return function

14
my car toyota gives None

In [1]:
# WAP to find the average of three numbers
def average(number1,number2,number3):
    return (number1 + number2 + number3) / 3

In [2]:
average(1,2,3)

2.0

AVERAGE USING EXCEPTIONAL HANDLING

In [5]:
# WAP using the exceptional handling 
def average(number1,number2,number3):
    try:
        return (number1+number2+number3) / 3
    except Exception as e:
        print(e)

In [7]:
average(2,2,3)

2.3333333333333335

DEFAULT PARAMETES / ARGUMENTS

DEFAULT ARGUMENT MUST ALWAYS COME AT THE END IF IT COMES AT THE BEGINING IT WILL THROW AN ERROR

In [8]:
def age_calculator(age,currentYear = 2024): # here current-year is default parameter
    return currentYear - age

In [12]:
age_calculator(24)
# Here i can also give the currentYear
# but since its already mentioned we dont have to give it.

2000

In [13]:
# WAP to print the length of a list 
a = [1,2,3,4,5,6,7,8,9,0]
len(a)

10

In [14]:
# Function to print the length of a string..
def listLength(list):
    return len(list)

In [15]:
print(f"The length of given list {a} is {listLength(a)}")

The length of given list [1, 2, 3, 4, 5, 6, 7, 8, 9, 0] is 10

In [62]:
# Program to print-list elements in a single line
def lineList(list):
    for i in (list):
        print(i , '\t')

In [63]:
lineList(a)

1
2
3
4
5
6
7
8
9
0

In [64]:
# WAP to find factorial of number
    # NOTE pending

In [65]:
# WAP to convert usd -> inr
def convertor(currency,amount):
    if currency == "usd":
        amount/=84
    else:
        amount*=84
    return (amount)

In [66]:
convertor("usd",84)

1.0

RECURSIVE FUNCTION

A function that calls its self repeatedly

Max-Time you dont use the recursive function

In [13]:
def number_back(number):
    if number == 0:
        return
    print(number)
    number_back(number-1)
number_back(10)

10
9
8
7
6
5
4
3
2
1

In [16]:
def counter(number):
    return number - 1

for i in range(10,1,-1):
    print (counter(i)) # This function is called again and again

9
8
7
6
5
4
3
2
1

In [15]:
def function_one(name = "hemanth"):
    return (f' Name :  {name}')

In [18]:
def function_two(age):
    return f"{function_one()} & Age : {age} yr's"

In [19]:
function_two(23)

" Name :  hemanth & Age : 23 yr's"

LAMDA FUNCTION / ANONYMUS FUNCTION

In [25]:
ten = lambda number : number + 10
    # lambda is used for anonymus function : keyword

In [24]:
print(ten(10))

20

Multiple argument

In [29]:
sample = lambda a, b : a+b
    # here when you try to calculate a and b seperate it throws an error 
print(sample(5,6))

11

In [32]:
sample = lambda a, b : a = 10, b=20
    # hlike this 
print(sample(5,6))

SyntaxError: cannot assign to lambda (4006738027.py, line 1)

In [6]:
# WAP to print even - odd
def even_odd(number):
    if number % 2 == 0:
        return "EVEN"
    else:
        return "ODD"

In [7]:
print(even_odd(2))

EVEN

PRACTICE

In [31]:
# Write a code to print sum of n natural numbers
def cal_sum(number):
    sum = 0
    for i in range(number):
        num = int(input('Enter a number :'))
        sum = num + sum
        # Know where you are using the return statement
    return sum

In [32]:
cal_sum(1)

1

In [33]:
# WAP to print all the list of element
def elemnt(list):
    if len(list) == 0:
        return
    else:
        for i in list:
            print(i)

In [34]:
elemnt([1,2,3,4,5,6,7])

1
2
3
4
5
6
7