DICTIONARY & SETS

In [47]:
# They are a set of key-value pair 

bio = {
    'name' : 'Hemanth',
    'cgpa' : 9.8,
    'Working' : True,
    'marks' : [98,99,100,99,98],
    18 : True
}

# The Key can be of data-type : int, string, float

In [48]:
print(bio)

{'name': 'Hemanth', 'cgpa': 9.8, 'Working': True, 'marks': [98, 99, 100, 99, 98], 18: True}

ACCESSING THE KEY

In [49]:
# Accessing the key's
print(bio['name'])
print(bio['marks'])

Hemanth
[98, 99, 100, 99, 98]

CHANGING THE VALUE NAMES

In [50]:
bio['name'] = 'hariprasad'

In [51]:
print(bio)

{'name': 'hariprasad', 'cgpa': 9.8, 'Working': True, 'marks': [98, 99, 100, 99, 98], 18: True}

ADDING A NEW KEY-VALUE ELEMENT

In [52]:
bio['surname'] = 'srinivas'

In [53]:
print(bio)

{'name': 'hariprasad', 'cgpa': 9.8, 'Working': True, 'marks': [98, 99, 100, 99, 98], 18: True, 'surname': 'srinivas'}

ANOTHER WAY OF CREATING A DICTIONARY

In [54]:
info = {} # Initializing a dictionary .. EMPTY DICT.
info['Nmae'] = 'Hemanth'
info['age'] = 23
info['working'] = True

In [55]:
print(info)

{'Nmae': 'Hemanth', 'age': 23, 'working': True}

NESTED DICTIONARY

In [56]:
info['hobbies'] = {
    "music" : True,
    "Adventure" : True,
}

In [57]:
print(info) # here.. 
# I have a new dictionary within my dictionary

{'Nmae': 'Hemanth', 'age': 23, 'working': True, 'hobbies': {'music': True, 'Adventure': True}}

In [58]:
print(info['hobbies'])

{'music': True, 'Adventure': True}

In [59]:
print(info['hobbies']['music']) # Accessing the key of nested dictionaries

True

DICTIONARY METHODS

In [60]:
print(bio)
# Example dict ..

{'name': 'hariprasad', 'cgpa': 9.8, 'Working': True, 'marks': [98, 99, 100, 99, 98], 18: True, 'surname': 'srinivas'}

In [61]:
# 1. Gives us all the keys..
bio.keys()

dict_keys(['name', 'cgpa', 'Working', 'marks', 18, 'surname'])

In [62]:
# 2. Gives us all the values
bio.values()

dict_values(['hariprasad', 9.8, True, [98, 99, 100, 99, 98], True, 'srinivas'])

In [68]:
# 3. Returns all the key-value pair in tuple format
bio.items()

dict_items([('name', 'hariprasad'), ('cgpa', 9.8), ('Working', True), ('marks', [98, 99, 100, 99, 98]), (18, True), ('surname', 'srinivas')])

In [78]:
# 4. Get is used to get the key's VALUE
print(bio['name'])
print(bio.get("name"))

# BUT THE DIFFERENCE IS 
print(bio['name2']) # NOTE ERROR

hariprasad
hariprasad

KeyError: 'name2'

In [79]:
print(bio.get("name2")) # This Dosen't show ERROR NOTE

None

In [81]:
# 5 UPDATE : Here we can apply a new key-value pair
print(bio)

{'name': 'hariprasad', 'cgpa': 9.8, 'Working': True, 'marks': [98, 99, 100, 99, 98], 18: True, 'surname': 'srinivas'}

In [84]:
# bio['hobbies] = True

# or we can use this 
bio.update({"hobbies" : True})

In [85]:
print(bio)

{'name': 'hariprasad', 'cgpa': 9.8, 'Working': True, 'marks': [98, 99, 100, 99, 98], 18: True, 'surname': 'srinivas', 'hobbies': True}

SETS

In [93]:
collection = {2,3,4, "hello", "world"} # Sample set
print(collection)
print(type(collection))

{2, 3, 4, 'hello', 'world'}
<class 'set'>

CHECKING FOR DUPLICATE VALUES

In [96]:
collection = {2,3,4, "hello",4,2,3} # Here we have a bunch of duplicate values
print(collection) # Duplicate values are ignored 

print(len(collection)) # Here duplicate values are ignored

{2, 3, 4, 'hello'}
4

Creating an empty set

In [112]:
collection = set()

In [113]:
print(type(collection))

<class 'set'>

METHODS OF SET ARE

In [115]:
# 1. ADD - Adding a value to empty set 
collection.add(1)
print(collection)
collection.add(4)
print(collection)

{1}
{1, 4}

In [116]:
# 2. REMOVE - Removing a values from a set
collection.remove(1)
print(collection)

{4}

In [135]:
collection.remove(11) # ERROR when you remove an unknown element 
print(collection)

KeyError: 11

In [128]:
collection.add(2)
collection.add(21)
collection.add(22)

In [129]:
# 3. Pop - Remove an element from set RANDOMLY
collection.pop()

21

In [130]:
print(collection)

{2, 22}

In [133]:
# 4. CLEAR - Removes all the element in the set completely
collection.clear()

In [132]:
print(collection)

set()

If you try to add a list into a set you get an ERROR

UNION AND INTERSECTION

In [136]:
set1 = {1,2,3}
set2 = {4,5}

In [137]:
print(set1)
print(set2)

{1, 2, 3}
{4, 5}

UNION

In [139]:
# Applying the Union function ..
set1.union(set2)

{1, 2, 3, 4, 5}

In [140]:
# Applying the Intersection Function ..
set1.intersection(set2)

set()

INTERSECTION

In [144]:
set1 = {4,5,9,6,7,8}
set2 = {4,15,9,16,7,18}
set1.intersection(set2)
# here 4,7,9 is common in both the set

{4, 7, 9}

PRACTICE

In [146]:
# WAP Store the following word meaning in a python dictionary
dictionary = {
    'table' : ['a piece of furniture', 'list of facts & figures'],
    'cat' : 'a small animal'
}
print(dictionary)

{'table': ['a piece of furniture', 'list of facts & figures'], 'cat': 'a small animal'}

In [151]:
subjects = {'python','java','C++','python','javascript','python','java','C++','C'}
print(subjects)

{'C', 'javascript', 'java', 'C++', 'python'}

OR

In [150]:
# WAP where you are given a list of subjects for students. Assume one classroom is required for 1 subject. How many classrooms are needed by all subjects 
subject_set_one = {'python','java','C++','python','javascript'}
subject_set_two = {'python','java','C++','C'}

# Here I am using union cause, I only need the common subjects in both the set
subject_set_one.union(subject_set_two)
    # NOTE Intersection only gives which is common in both , but union will combine both and removes the duplicate

{'C', 'C++', 'java', 'javascript', 'python'}

In [153]:
# WAP TO ADD MARKS AND SUBJECTS OF STUDENT WHERE subject-name is key and marks is value
student = {}
student['ENGLISH'] = 98
student['MATHS'] = 100
student['SCIENCE'] = 97
student['COMPUTER-SCIENCE'] = 99
print(student)

{'ENGLISH': 98, 'MATHS': 100, 'SCIENCE': 97, 'COMPUTER-SCIENCE': 99}

In [157]:
# ANOTHER-WAY OF ADDING 
marks_list = {}
for i in range(3):
    subject_name = input('Enter the subject name : ')
    subject_marks = int(input('Enter Marks'))
    marks_list[subject_name] = subject_marks
print(marks_list)

{'english': 89, 'computer': 99, 'math': 99}

In [158]:
marks_list.update({'science' : 90})
print(marks_list)

{'english': 89, 'computer': 99, 'math': 99, 'science': 90}

In [159]:
# WAP to save 9 and 9.0 in a set, Not possible unless you make 9.0 to a string cause set will remove duplicates.
value = {9,9.0}
print(value)

{9}

In [160]:
value = {9, "9.0"}
print(value)

{'9.0', 9}

OR

In [161]:
values = {
    ("float", 9.0),
    ("int",  9)
}
print(values)

{('int', 9), ('float', 9.0)}