In [26]:
from sys import version
print(version)

3.11.7 | packaged by Anaconda, Inc. | (main, Dec 15 2023, 18:05:47) [MSC v.1916 64 bit (AMD64)]

Connecting MongoDB - Python

In [27]:
# 1. Install pymongo

# !pip install pymongo

`Importing the Library`

In [28]:
import pymongo
from pymongo import MongoClient

`Creating & Connecting to a Client Interface`

You use MogoClient

In [29]:
db = pymongo.MongoClient("mongodb://127.0.0.1:27017/") 
# For link : cmd -> mongosh

`Creating a Database`

In [30]:
db = db['Data-Base_Name']

`Creating a Collection`

In [31]:
collection_name = db.Collection_name

Now, We need to Insert Records

In [32]:
try:
    dict = {}
    collection_name.insert_one(dict)

    # Insert Many
    collection_name.insert_many([{dict}, {dict}])
except:
    pass

 ----

Python & MongoDB

In [2]:
from sys import version
print(version)

3.11.7 | packaged by Anaconda, Inc. | (main, Dec 15 2023, 18:05:47) [MSC v.1916 64 bit (AMD64)]

In [3]:
import pymongo
from pymongo import MongoClient

In [6]:
# Creating a conn.
conn = MongoClient('mongodb://localhost:27017/')

In [7]:
# Creating the database
db = conn['sample']

In [8]:
# Adding a collection to the database
bca = db['bca']

#### INSERT_ONE & INSERT_MANY

In [54]:
bca.insert_many([
  { "_id": 1, "name": "hari", "l_name": "prasad", "pass": 1, "score": 9.3 },
  { "_id": 2, "name": "anita", "l_name": "kumar", "pass": 0, "score": 4.3 },
  { "_id": 3, "name": "raj", "l_name": "mehta", "pass": 1, "score": 7.2 },
  { "_id": 4, "name": "sita", "l_name": "verma", "pass": 1, "score": 9.1 },
  { "_id": 5, "name": "vinay", "l_name": "singh", "pass": 0, "score": 5.0 },
  { "_id": 6, "name": "deepa", "l_name": "joshi", "pass": 1, "score": 8.4 },
  { "_id": 7, "name": "aman", "l_name": "sharma", "pass": 1, "score": 7.5 },
  { "_id": 8, "name": "neha", "l_name": "gupta", "pass": 0, "score": 3.9 },
  { "_id": 9, "name": "karan", "l_name": "yadav", "pass": 1, "score": 6.7 },
  { "_id": 10, "name": "poonam", "l_name": "chauhan", "pass": 1, "score": 9.3 }])

InsertManyResult([1, 2, 3, 4, 5, 6, 7, 8, 9, 10], acknowledged=True)

#### FIND

Find_one

In [9]:
bca.find_one()

{'_id': 1, 'name': 'hari', 'l_name': 'prasad', 'pass': 1, 'score': 9.3}

In [10]:
bca.find_one({"_id" : 1})

{'_id': 1, 'name': 'hari', 'l_name': 'prasad', 'pass': 1, 'score': 9.3}

You can also see MongoDB-Compass

In [11]:
# To get all the data

# select * from bca
for record in bca.find({}):
    print(record)

{'_id': 1, 'name': 'hari', 'l_name': 'prasad', 'pass': 1, 'score': 9.3}
{'_id': 2, 'name': 'anita', 'l_name': 'kumar', 'pass': 0, 'score': 4.3}
{'_id': 3, 'name': 'raj', 'l_name': 'mehta', 'pass': 1, 'score': 7.2}
{'_id': 4, 'name': 'sita', 'l_name': 'verma', 'pass': 1, 'score': 9.1}
{'_id': 5, 'name': 'vinay', 'l_name': 'singh', 'pass': 0, 'score': 5.0}
{'_id': 6, 'name': 'deepa', 'l_name': 'joshi', 'pass': 1, 'score': 8.4}
{'_id': 7, 'name': 'aman', 'l_name': 'sharma', 'pass': 1, 'score': 7.5}
{'_id': 8, 'name': 'neha', 'l_name': 'gupta', 'pass': 0, 'score': 3.9}
{'_id': 9, 'name': 'karan', 'l_name': 'yadav', 'pass': 1, 'score': 6.7}
{'_id': 10, 'name': 'poonam', 'l_name': 'chauhan', 'pass': 1, 'score': 9.3}

In [12]:
## Query the Json document based on the $eq operator..

# select * from bca where name = "hari"

for record in bca.find({'name' : 'hari'}):
    print(record)

{'_id': 1, 'name': 'hari', 'l_name': 'prasad', 'pass': 1, 'score': 9.3}

Querying Operator : $gt, $lt, $gte. $lte, $eq

In [69]:
## Using the Query Operator : $gt, $lt, $gte, $lte

for record in bca.find({'score' : {'$gt' : 5.0}}):
    print(record)

{'_id': 1, 'name': 'hari', 'l_name': 'prasad', 'pass': 1, 'score': 9.3}
{'_id': 3, 'name': 'raj', 'l_name': 'mehta', 'pass': 1, 'score': 7.2}
{'_id': 4, 'name': 'sita', 'l_name': 'verma', 'pass': 1, 'score': 9.1}
{'_id': 6, 'name': 'deepa', 'l_name': 'joshi', 'pass': 1, 'score': 8.4}
{'_id': 7, 'name': 'aman', 'l_name': 'sharma', 'pass': 1, 'score': 7.5}
{'_id': 9, 'name': 'karan', 'l_name': 'yadav', 'pass': 1, 'score': 6.7}
{'_id': 10, 'name': 'poonam', 'l_name': 'chauhan', 'pass': 1, 'score': 9.3}

In [70]:
for record in bca.find({'score' : {'$lt' : 5.0}}):
    print(record)

{'_id': 2, 'name': 'anita', 'l_name': 'kumar', 'pass': 0, 'score': 4.3}
{'_id': 8, 'name': 'neha', 'l_name': 'gupta', 'pass': 0, 'score': 3.9}

In [71]:
for record in bca.find({'score' : {'$lte' : 5.0}}):
    print(record)

{'_id': 2, 'name': 'anita', 'l_name': 'kumar', 'pass': 0, 'score': 4.3}
{'_id': 5, 'name': 'vinay', 'l_name': 'singh', 'pass': 0, 'score': 5.0}
{'_id': 8, 'name': 'neha', 'l_name': 'gupta', 'pass': 0, 'score': 3.9}

In [72]:
for record in bca.find({'score' : {'$gte' : 5.0}}):
    print(record)

{'_id': 1, 'name': 'hari', 'l_name': 'prasad', 'pass': 1, 'score': 9.3}
{'_id': 3, 'name': 'raj', 'l_name': 'mehta', 'pass': 1, 'score': 7.2}
{'_id': 4, 'name': 'sita', 'l_name': 'verma', 'pass': 1, 'score': 9.1}
{'_id': 5, 'name': 'vinay', 'l_name': 'singh', 'pass': 0, 'score': 5.0}
{'_id': 6, 'name': 'deepa', 'l_name': 'joshi', 'pass': 1, 'score': 8.4}
{'_id': 7, 'name': 'aman', 'l_name': 'sharma', 'pass': 1, 'score': 7.5}
{'_id': 9, 'name': 'karan', 'l_name': 'yadav', 'pass': 1, 'score': 6.7}
{'_id': 10, 'name': 'poonam', 'l_name': 'chauhan', 'pass': 1, 'score': 9.3}

So Here, I'm Targetting Names -> By Filtering the Score

In [75]:
for record in bca.find({'score' : {'$gt' : 5.0}},{'name' : 1, "_id" : 0}):
    print(record)

{'name': 'hari'}
{'name': 'raj'}
{'name': 'sita'}
{'name': 'deepa'}
{'name': 'aman'}
{'name': 'karan'}
{'name': 'poonam'}

In [103]:
# Passing a new data for $in
# bca.insert_one({"name" : 'prakash', 'l_name' : 'R', 'pass' : 1, 'score' : 9.0, 'tag' : ['GenAI', 'Developer']})
bca.insert_one({"name" : 'prakash_A', 'l_name' : 'R', 'pass' : 1, 'score' : 9.0, 'tag' : ['GenAI', 'Developer','Front-end']})
bca.insert_one({"name" : 'prakash_B', 'l_name' : 'R', 'pass' : 1, 'score' : 9.0, 'tag' : ['GenAI', 'Developer','Front-end','Back-end']})
bca.insert_one({"name" : 'prakash_C', 'l_name' : 'R', 'pass' : 1, 'score' : 9.0, 'tag' : ['GenAI', 'Developer','Back-end']})
bca.insert_one({"name" : 'prakash_D', 'l_name' : 'R', 'pass' : 1, 'score' : 9.0, 'tag' : ['GenAI','Back-end']})
bca.insert_one({"name" : 'prakash_E', 'l_name' : 'R', 'pass' : 1, 'score' : 9.0, 'tag' : ['GenAI','Front-end','Music']})

InsertOneResult(ObjectId('67f9160c5748e5957895fdd8'), acknowledged=True)

Using the `$in` tag

In [123]:
for i in bca.find({'tag' : {'$in' : ['GenAI']}}).sort({'name' : -1}):
    # Have also used `sort`
    print(i)

{'_id': ObjectId('67f9160c5748e5957895fdd8'), 'name': 'prakash_E', 'l_name': 'R', 'pass': 1, 'score': 9.0, 'tag': ['GenAI', 'Front-end', 'Music']}
{'_id': ObjectId('67f9160c5748e5957895fdd7'), 'name': 'prakash_D', 'l_name': 'R', 'pass': 1, 'score': 9.0, 'tag': ['GenAI', 'Back-end']}
{'_id': ObjectId('67f9160c5748e5957895fdd6'), 'name': 'prakash_C', 'l_name': 'R', 'pass': 1, 'score': 9.0, 'tag': ['GenAI', 'Developer', 'Back-end']}
{'_id': ObjectId('67f9160c5748e5957895fdd5'), 'name': 'prakash_B', 'l_name': 'R', 'pass': 1, 'score': 9.0, 'tag': ['GenAI', 'Developer', 'Front-end', 'Back-end']}
{'_id': ObjectId('67f9160c5748e5957895fdd4'), 'name': 'prakash_A', 'l_name': 'R', 'pass': 1, 'score': 9.0, 'tag': ['GenAI', 'Developer', 'Front-end']}
{'_id': ObjectId('67f915665748e5957895fdd3'), 'name': 'prakash', 'l_name': 'R', 'pass': 1, 'score': 9.0, 'tag': ['GenAI', 'Developer']}

AND OPERATION

In [16]:
for i in bca.find({'$and' : [{'score' : {'$lt' : 5}},
                            {'score' : {'$gt' : 3}}]
                            }):
    print(i)

{'_id': 2, 'name': 'anita', 'l_name': 'kumar', 'pass': 0, 'score': 4.3}
{'_id': 8, 'name': 'neha', 'l_name': 'gupta', 'pass': 0, 'score': 3.9}

OR OPERATION

In [17]:
for i in bca.find({'$or' : [{'score' : {'$lt' : 5}},
                            {'score' : {'$gt' : 3}}]
                            }):
    print(i)

{'_id': 1, 'name': 'hari', 'l_name': 'prasad', 'pass': 1, 'score': 9.3}
{'_id': 2, 'name': 'anita', 'l_name': 'kumar', 'pass': 0, 'score': 4.3}
{'_id': 3, 'name': 'raj', 'l_name': 'mehta', 'pass': 1, 'score': 7.2}
{'_id': 4, 'name': 'sita', 'l_name': 'verma', 'pass': 1, 'score': 9.1}
{'_id': 5, 'name': 'vinay', 'l_name': 'singh', 'pass': 0, 'score': 5.0}
{'_id': 6, 'name': 'deepa', 'l_name': 'joshi', 'pass': 1, 'score': 8.4}
{'_id': 7, 'name': 'aman', 'l_name': 'sharma', 'pass': 1, 'score': 7.5}
{'_id': 8, 'name': 'neha', 'l_name': 'gupta', 'pass': 0, 'score': 3.9}
{'_id': 9, 'name': 'karan', 'l_name': 'yadav', 'pass': 1, 'score': 6.7}
{'_id': 10, 'name': 'poonam', 'l_name': 'chauhan', 'pass': 1, 'score': 9.3}