In [49]:
from sys import version
print(version)

3.11.7 | packaged by Anaconda, Inc. | (main, Dec 15 2023, 18:05:47) [MSC v.1916 64 bit (AMD64)]

In [50]:
import pymongo
from pymongo import MongoClient
conn = MongoClient('mongodb://localhost:27017/') # Initiating the connection

In [51]:
# Accessing the existing datase
print(conn.list_database_names())

# List of data-base names

['admin', 'config', 'local', 'msr_college']

In [52]:
# From this i need to access msr_college
db = conn['msr_college']

In [53]:
# Accessing the collections
print(db.list_collection_names())

# List of Collection Names

['new', 'users', 'bca', 'bsc']

In [54]:
bca = db.bca # Taking the `bca` collection
bsc = db.bsc # `bsc` colleciton

1. Extracting info.

In [55]:
bca.find_one({})

{'_id': 1,
 'name': 'HARI',
 'l_name': 'prasad',
 'pass': 1,
 'score': 8.9,
 'Graduate': ['true']}

In [56]:
bsc.find_one({'_id' : 10})

{'_id': 10, 'name': 'poonam', 'l_name': 'chauhan', 'pass': 1, 'score': 9.3}

2. Extracting all the collection : documents

In [57]:
for i in bca.find({}).limit(5):
    # Limiting cause > 30 rows
    print(i)

{'_id': 1, 'name': 'HARI', 'l_name': 'prasad', 'pass': 1, 'score': 8.9, 'Graduate': ['true']}
{'_id': 2, 'name': 'anita', 'l_name': 'kumar', 'pass': 0, 'score': 4.3}
{'_id': 3, 'name': 'raj', 'l_name': 'mehta', 'pass': 1, 'score': 7.2}
{'_id': 4, 'name': 'sita', 'l_name': 'verma', 'pass': 1, 'score': 9.1}
{'_id': 5, 'name': 'vinay', 'l_name': 'singh', 'pass': 0, 'score': 5}

In [58]:
for i in bsc.find({}).limit(3):
    print(i)

{'_id': 1, 'name': 'hariprasad', 'l_name': ['prasad']}
{'_id': 2, 'name': 'anita', 'l_name': 'kumar', 'pass': 0, 'score': 4.3}
{'_id': 3, 'name': 'raj', 'l_name': 'mehta', 'pass': 1, 'score': 7.2}

3. Deleting the un-wanted result

In [59]:
bsc.delete_one({'title' : 'some-comment'})

# Do not use _id : objectId, just use some unique variable..

DeleteResult({'n': 0, 'ok': 1.0}, acknowledged=True)

In [60]:
for i in bsc.find({}).limit(3): print(i)

{'_id': 1, 'name': 'hariprasad', 'l_name': ['prasad']}
{'_id': 2, 'name': 'anita', 'l_name': 'kumar', 'pass': 0, 'score': 4.3}
{'_id': 3, 'name': 'raj', 'l_name': 'mehta', 'pass': 1, 'score': 7.2}

4. Accessing the other collection as well

In [61]:
users = db.users

In [62]:
for i in users.find({}):
    print(i)

{'_id': ObjectId('67f7c44373795588e816c9bd'), 'name': 'hari', 'l_name': 'Prasad', 'hobbies': ['Photography', 'music', 'GenAI']}
{'_id': ObjectId('67f7c6aa73795588e816c9be'), 'name': 'gagan', 'hobbies': ['Photography', 'music', 'GenAI', 'Landscape Photography']}
{'_id': ObjectId('67f7c6aa73795588e816c9bf'), 'name': 'yuktha', 'hobbies': ['student']}
{'_id': ObjectId('67f7c6aa73795588e816c9c0'), 'name': 'vishal', 'hobbies': ['Photography', 'music', 'GenAI', 'Gamer']}

5. Adding a new colleciton

In [63]:
db.list_collection_names()

['new', 'users', 'bca', 'bsc']

In [64]:
new = db['new'] # Added a new-collection

In [65]:
new.insert_one({"name" : 'hari', 'l_name' : 'prasad', 'cgpa' : 9})

InsertOneResult(ObjectId('67fa1d54b175dfe5f15b38d4'), acknowledged=True)

In [66]:
db.list_collection_names()

['new', 'users', 'bca', 'bsc']

In [67]:
for i in new.find({}):
    print(i)

{'_id': ObjectId('67f945e2127fdd947026274c'), 'name': 'hari', 'l_name': 'prasad', 'cgpa': 9}
{'_id': ObjectId('67fa1d54b175dfe5f15b38d4'), 'name': 'hari', 'l_name': 'prasad', 'cgpa': 9}

In [68]:
new.delete_one({'name': 'hari'})

DeleteResult({'n': 1, 'ok': 1.0}, acknowledged=True)

In [69]:
for i in new.find({}):
    print(i)

{'_id': ObjectId('67fa1d54b175dfe5f15b38d4'), 'name': 'hari', 'l_name': 'prasad', 'cgpa': 9}

6. Adding the Logical Operator : $eq, $gt, $lt, $and, $or, $lte, $gte

$gt

In [70]:
# Here we are taking BCA

# filter var -- target var
for i in bca.find(
    {'score' : {'$gt' : 5}}, {'name' : 1, '_id' : 0}
).limit(5).sort({'name' : 1}):
    print(i)

{'name': 'HARI'}
{'name': 'aman'}
{'name': 'arun'}
{'name': 'deepa'}
{'name': 'dinesh'}

$lt

In [71]:
for i in bca.find({'score' : {'$lt' : 5}}, {'name' : 1, '_id' : 0}).limit(3).sort({'score': 1}):
    print(i)

{'name': 'dev'}
{'name': 'neha'}
{'name': 'radha'}

7. Logical Operator

$and

In [72]:
for i in bca.find({'$and' : [{'pass' : {'$eq' : 1}}, {'score' : {'$gt' : 5}}]}, {'name' : 1, '_id' : 0, 'score' : 1}).sort({'score' : 1}):
    print(i)

{'name': 'manoj', 'score': 6.2}
{'name': 'nilesh', 'score': 6.3}
{'name': 'karan', 'score': 6.7}
{'name': 'arun', 'score': 6.8}
{'name': 'lokesh', 'score': 6.9}
{'name': 'kiran', 'score': 7.1}
{'name': 'raj', 'score': 7.2}
{'name': 'swati', 'score': 7.3}
{'name': 'aman', 'score': 7.5}
{'name': 'dinesh', 'score': 7.6}
{'name': 'rekha', 'score': 7.9}
{'name': 'meena', 'score': 8.1}
{'name': 'deepa', 'score': 8.4}
{'name': 'vikas', 'score': 8.7}
{'name': 'tina', 'score': 8.8}
{'name': 'HARI', 'score': 8.9}
{'name': 'priya', 'score': 9}
{'name': 'sita', 'score': 9.1}
{'name': 'ravi', 'score': 9.2}
{'name': 'poonam', 'score': 9.3}

$or

In [73]:
for i in bca.find({'$or' : [{'pass' : {'$eq' : 1}}, {'score' : {'$lt' : 5}}]}, {'name' : 1, '_id' : 0, 'score' : 1}).sort({'score' : 1}).limit(5):
    print(i)

# Either one of the condition is accepted..

{'name': 'dev', 'score': 3.5}
{'name': 'neha', 'score': 3.9}
{'name': 'radha', 'score': 4}
{'name': 'anushka', 'score': 4.2}
{'name': 'anita', 'score': 4.3}

7. Update Element

In [74]:
# Lets do for 1 

# 1. $set -- Edit Function
# 2. $push -- Append-Operation

In [75]:
bca.find_one({})

{'_id': 1,
 'name': 'HARI',
 'l_name': 'prasad',
 'pass': 1,
 'score': 8.9,
 'Graduate': ['true']}

$set

In [76]:
bca.update_one({'_id' : 1}, {'$set' : {'name' : 'HARI'}})

UpdateResult({'n': 1, 'nModified': 0, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [77]:
bca.find_one()

{'_id': 1,
 'name': 'HARI',
 'l_name': 'prasad',
 'pass': 1,
 'score': 8.9,
 'Graduate': ['true']}

$push

In [78]:
bca.update_one({'_id' : 1}, {'$push' : {'Graduate' : 'true'}})

UpdateResult({'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [79]:
bca.find_one({}) # This $push the variabel into a list

{'_id': 1,
 'name': 'HARI',
 'l_name': 'prasad',
 'pass': 1,
 'score': 8.9,
 'Graduate': ['true', 'true']}

8. $in Operation : Used in array

In [81]:
users.find_one()

{'_id': ObjectId('67f7c44373795588e816c9bd'),
 'name': 'hari',
 'l_name': 'Prasad',
 'hobbies': ['Photography', 'music', 'GenAI']}

Using the $in operation

In [82]:
for i in users.find({}):
    print(i)

{'_id': ObjectId('67f7c44373795588e816c9bd'), 'name': 'hari', 'l_name': 'Prasad', 'hobbies': ['Photography', 'music', 'GenAI']}
{'_id': ObjectId('67f7c6aa73795588e816c9be'), 'name': 'gagan', 'hobbies': ['Photography', 'music', 'GenAI', 'Landscape Photography']}
{'_id': ObjectId('67f7c6aa73795588e816c9bf'), 'name': 'yuktha', 'hobbies': ['student']}
{'_id': ObjectId('67f7c6aa73795588e816c9c0'), 'name': 'vishal', 'hobbies': ['Photography', 'music', 'GenAI', 'Gamer']}

In [88]:
for i in users.find({'hobbies': { '$in': ['GenAI','music']}}).limit(1): print(i)

{'_id': ObjectId('67f7c44373795588e816c9bd'), 'name': 'hari', 'l_name': 'Prasad', 'hobbies': ['Photography', 'music', 'GenAI']}

In [85]:
# Then you have aggregate and del. function..