In [1]:
from sys import version
print(version)

3.12.7 | packaged by Anaconda, Inc. | (main, Oct  4 2024, 13:17:27) [MSC v.1929 64 bit (AMD64)]

In [2]:
import pymongo
from pymongo import MongoClient
conn = MongoClient('mongodb://localhost:27017/') # Initiating the connection

In [3]:
# Accessing the existing datase
print(conn.list_database_names())

# List of data-base names

['admin', 'config', 'local', 'msr_college']

In [4]:
# From this i need to access msr_college
db = conn['msr_college']

In [5]:
# Accessing the collections
print(db.list_collection_names())

# List of Collection Names

['new', 'users', 'bca', 'bsc']

In [6]:
bca = db.bca # Taking the `bca` collection
bsc = db.bsc # `bsc` colleciton

1. Extracting info.

In [7]:
bca.find_one({})

{'_id': 1,
 'name': 'HARI',
 'l_name': 'prasad',
 'pass': 1,
 'score': 8.9,
 'Graduate': ['true', 'true']}

In [8]:
bsc.find_one({'_id' : 10})

{'_id': 10, 'name': 'poonam', 'l_name': 'chauhan', 'pass': 1, 'score': 9.3}

2. Extracting all the collection : documents

In [9]:
for i in bca.find({}).limit(5):
    # Limiting cause > 30 rows
    print(i)

{'_id': 1, 'name': 'HARI', 'l_name': 'prasad', 'pass': 1, 'score': 8.9, 'Graduate': ['true', 'true']}
{'_id': 2, 'name': 'anita', 'l_name': 'kumar', 'pass': 0, 'score': 4.3}
{'_id': 3, 'name': 'raj', 'l_name': 'mehta', 'pass': 1, 'score': 7.2}
{'_id': 4, 'name': 'sita', 'l_name': 'verma', 'pass': 1, 'score': 9.1}
{'_id': 5, 'name': 'vinay', 'l_name': 'singh', 'pass': 0, 'score': 5}

In [10]:
for i in bsc.find({}).limit(3):
    print(i)

{'_id': 1, 'name': 'hariprasad', 'l_name': ['prasad']}
{'_id': 2, 'name': 'anita', 'l_name': 'kumar', 'pass': 0, 'score': 4.3}
{'_id': 3, 'name': 'raj', 'l_name': 'mehta', 'pass': 1, 'score': 7.2}

3. Deleting the un-wanted result

In [11]:
bsc.delete_one({'title' : 'some-comment'})

# Do not use _id : objectId, just use some unique variable..

DeleteResult({'n': 0, 'ok': 1.0}, acknowledged=True)

In [12]:
for i in bsc.find({}).limit(3): print(i)

{'_id': 1, 'name': 'hariprasad', 'l_name': ['prasad']}
{'_id': 2, 'name': 'anita', 'l_name': 'kumar', 'pass': 0, 'score': 4.3}
{'_id': 3, 'name': 'raj', 'l_name': 'mehta', 'pass': 1, 'score': 7.2}

4. Accessing the other collection as well

In [13]:
users = db.users

In [14]:
for i in users.find({}):
    print(i)

{'_id': ObjectId('67f7c44373795588e816c9bd'), 'name': 'hari', 'l_name': 'Prasad', 'hobbies': ['Photography', 'music', 'GenAI']}
{'_id': ObjectId('67f7c6aa73795588e816c9be'), 'name': 'gagan', 'hobbies': ['Photography', 'music', 'GenAI', 'Landscape Photography']}
{'_id': ObjectId('67f7c6aa73795588e816c9bf'), 'name': 'yuktha', 'hobbies': ['student']}
{'_id': ObjectId('67f7c6aa73795588e816c9c0'), 'name': 'vishal', 'hobbies': ['Photography', 'music', 'GenAI', 'Gamer']}

5. Adding a new colleciton

In [15]:
db.list_collection_names()

['new', 'users', 'bca', 'bsc']

In [16]:
new = db['new'] # Added a new-collection

In [17]:
new.insert_one({"name" : 'hari', 'l_name' : 'prasad', 'cgpa' : 9})

InsertOneResult(ObjectId('6801395c31a399636ab464c2'), acknowledged=True)

In [18]:
db.list_collection_names()

['new', 'users', 'bca', 'bsc']

In [19]:
for i in new.find({}):
    print(i)

{'_id': ObjectId('67fa1d54b175dfe5f15b38d4'), 'name': 'hari', 'l_name': 'prasad', 'cgpa': 9}
{'_id': ObjectId('6801395c31a399636ab464c2'), 'name': 'hari', 'l_name': 'prasad', 'cgpa': 9}

In [20]:
new.delete_one({'name': 'hari'})

DeleteResult({'n': 1, 'ok': 1.0}, acknowledged=True)

In [21]:
for i in new.find({}):
    print(i)

{'_id': ObjectId('6801395c31a399636ab464c2'), 'name': 'hari', 'l_name': 'prasad', 'cgpa': 9}

6. Adding the Logical Operator : $eq, $gt, $lt, $and, $or, $lte, $gte

$gt

In [22]:
# Here we are taking BCA

# filter var -- target var
for i in bca.find(
    {'score' : {'$gt' : 5}}, {'name' : 1, '_id' : 0}
).limit(5).sort({'name' : 1}):
    print(i)

{'name': 'HARI'}
{'name': 'aman'}
{'name': 'arun'}
{'name': 'deepa'}
{'name': 'dinesh'}

$lt

In [23]:
for i in bca.find({'score' : {'$lt' : 5}}, {'name' : 1, '_id' : 0}).limit(3).sort({'score': 1}):
    print(i)

{'name': 'dev'}
{'name': 'neha'}
{'name': 'radha'}

7. Logical Operator

$and

In [24]:
for i in bca.find({'$and' : [{'pass' : {'$eq' : 1}}, {'score' : {'$gt' : 5}}]}, {'name' : 1, '_id' : 0, 'score' : 1}).sort({'score' : 1}):
    print(i)

{'name': 'manoj', 'score': 6.2}
{'name': 'nilesh', 'score': 6.3}
{'name': 'karan', 'score': 6.7}
{'name': 'arun', 'score': 6.8}
{'name': 'lokesh', 'score': 6.9}
{'name': 'kiran', 'score': 7.1}
{'name': 'raj', 'score': 7.2}
{'name': 'swati', 'score': 7.3}
{'name': 'aman', 'score': 7.5}
{'name': 'dinesh', 'score': 7.6}
{'name': 'rekha', 'score': 7.9}
{'name': 'meena', 'score': 8.1}
{'name': 'deepa', 'score': 8.4}
{'name': 'vikas', 'score': 8.7}
{'name': 'tina', 'score': 8.8}
{'name': 'HARI', 'score': 8.9}
{'name': 'priya', 'score': 9}
{'name': 'sita', 'score': 9.1}
{'name': 'ravi', 'score': 9.2}
{'name': 'poonam', 'score': 9.3}

$or

In [25]:
for i in bca.find({'$or' : [{'pass' : {'$eq' : 1}}, {'score' : {'$lt' : 5}}]}, {'name' : 1, '_id' : 0, 'score' : 1}).sort({'score' : 1}).limit(5):
    print(i)

# Either one of the condition is accepted..

{'name': 'dev', 'score': 3.5}
{'name': 'neha', 'score': 3.9}
{'name': 'radha', 'score': 4}
{'name': 'anushka', 'score': 4.2}
{'name': 'anita', 'score': 4.3}

7. Update Element

In [26]:
# Lets do for 1 

# 1. $set -- Edit Function
# 2. $push -- Append-Operation

In [27]:
bca.find_one({})

{'_id': 1,
 'name': 'HARI',
 'l_name': 'prasad',
 'pass': 1,
 'score': 8.9,
 'Graduate': ['true', 'true']}

$set

In [28]:
bca.update_one({'_id' : 1}, {'$set' : {'name' : 'HARI'}})

UpdateResult({'n': 1, 'nModified': 0, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [29]:
bca.find_one()

{'_id': 1,
 'name': 'HARI',
 'l_name': 'prasad',
 'pass': 1,
 'score': 8.9,
 'Graduate': ['true', 'true']}

$push

In [30]:
bca.update_one({'_id' : 1}, {'$push' : {'Graduate' : 'true'}})

UpdateResult({'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [31]:
bca.find_one({}) # This $push the variabel into a list

{'_id': 1,
 'name': 'HARI',
 'l_name': 'prasad',
 'pass': 1,
 'score': 8.9,
 'Graduate': ['true', 'true', 'true']}

8. $in Operation : Used in array

In [32]:
users.find_one()

{'_id': ObjectId('67f7c44373795588e816c9bd'),
 'name': 'hari',
 'l_name': 'Prasad',
 'hobbies': ['Photography', 'music', 'GenAI']}

Using the $in operation

In [33]:
for i in users.find({}):
    print(i)

{'_id': ObjectId('67f7c44373795588e816c9bd'), 'name': 'hari', 'l_name': 'Prasad', 'hobbies': ['Photography', 'music', 'GenAI']}
{'_id': ObjectId('67f7c6aa73795588e816c9be'), 'name': 'gagan', 'hobbies': ['Photography', 'music', 'GenAI', 'Landscape Photography']}
{'_id': ObjectId('67f7c6aa73795588e816c9bf'), 'name': 'yuktha', 'hobbies': ['student']}
{'_id': ObjectId('67f7c6aa73795588e816c9c0'), 'name': 'vishal', 'hobbies': ['Photography', 'music', 'GenAI', 'Gamer']}

In [34]:
for i in users.find({'hobbies': { '$in': ['GenAI','music']}}).limit(1): print(i)

{'_id': ObjectId('67f7c44373795588e816c9bd'), 'name': 'hari', 'l_name': 'Prasad', 'hobbies': ['Photography', 'music', 'GenAI']}

In [35]:
# Then you have aggregate and del. function..

18/04/2025 -- Practice for mongodb

In [ ]:
import pymongo
from pymongo import MongoClient
import random

conn =  MongoClient('mongodb://localhost:27017/') # Initiating the connection
conn.list_database_names()

['Movie_Review', 'admin', 'config', 'local', 'msr_college']

In [36]:
db = conn['Movie_Review']
# Creating a DB Movie_Review

In [37]:
conn.list_database_names()

['Movie_Review', 'admin', 'config', 'local', 'msr_college']

In [38]:
review = db['Reviews']
# Creatig a Collection called Reviews inside Movie_Review and assigning it to a variable review

In [41]:
# review.insert_one({'Name' : 'Hari'})

# For Testing

In [ ]:
class movie_review_adder:
    
    # Instant Attribute 
    movie_data_base = {}
    genere_list = []

    def add(self):
        for _ in range(values:=int(input('Enter the number of movies to add : '))):
            print(f'You are adding {values} movies to the database')
            self.movie_data_base['_id'] = values # I could have just given _ ?? but no
            self.movie_data_base['Movie_Title'] = input('Enter the Movie Name : ')
            self.movie_data_base['Reviewer'] = input('Enter the Reviewer : ')
            self.movie_data_base['Ratings'] = float(input('Enter the Rating : '))
            for _ in range(int(input('How may Genre : '))):
                value = input('Enter the genre : ')
                self.genere_list.append(value)

            # Genere was missed
            self.movie_data_base['Genere'] = self.genere_list
            
            x = int(input('Enter Number 1 : true, 0 : flase  :: '))
            self.movie_data_base['Watched'] = 'true' if x == 1 else 'false' 
            self.movie_data_base['Comments'] = input('Enter your Comments for the movie : ')
            
            # Adding the movies to the database
                # Idk how review is getting added inside this lil sus...
            review.insert_one(self.movie_data_base)
            values-=1

    # Preview the databse
    def preview(self):
        return [x for x in review.find()]

In [54]:
user = movie_review_adder()

In [ ]:
# user.add()

# I have added 5 movies to the database

You are adding 5 movies to the database
You are adding 4 movies to the database
You are adding 3 movies to the database
You are adding 2 movies to the database
You are adding 1 movies to the database

In [68]:
user.preview()
# Working as Itended..

# I have 5 movies Inside the databse

# Issue if i want to add movies in the database again the _id will be over written.. and will cause an issue

[{'_id': 5,
  'Movie_Title': 'avengers',
  'Reviewer': 'eve',
  'Ratings': 8.4,
  'Watched': 'true',
  'Comments': 'epic finale'},
 {'_id': 4,
  'Movie_Title': 'parasite',
  'Reviewer': 'alice',
  'Ratings': 9.1,
  'Watched': 'true',
  'Comments': 'dark twisted and brilliant'},
 {'_id': 3,
  'Movie_Title': 'sharknado',
  'Reviewer': 'frank',
  'Ratings': 3.9,
  'Watched': 'false',
  'Comments': 'so bad its good ? No just bad'},
 {'_id': 2,
  'Movie_Title': 'Inside out',
  'Reviewer': 'david',
  'Ratings': 8.1,
  'Watched': 'true',
  'Comments': 'tears and laughter in equal parts'},
 {'_id': 1,
  'Movie_Title': 'cats',
  'Reviewer': 'bob',
  'Ratings': 2.5,
  'Watched': 'false',
  'Comments': 'more terrigying than any horror movie'}]

Performing the Operation's

In [ ]:
# Reading all the documents in the database
for i in review.find().sort({'_id' : 1}): print(i)

# here we have 5 movies

{'_id': 1, 'Movie_Title': 'cats', 'Reviewer': 'bob', 'Ratings': 2.5, 'Watched': 'false', 'Comments': 'more terrigying than any horror movie'}
{'_id': 2, 'Movie_Title': 'Inside out', 'Reviewer': 'david', 'Ratings': 8.1, 'Watched': 'true', 'Comments': 'tears and laughter in equal parts'}
{'_id': 3, 'Movie_Title': 'sharknado', 'Reviewer': 'frank', 'Ratings': 3.9, 'Watched': 'false', 'Comments': 'so bad its good ? No just bad'}
{'_id': 4, 'Movie_Title': 'parasite', 'Reviewer': 'alice', 'Ratings': 9.1, 'Watched': 'true', 'Comments': 'dark twisted and brilliant'}
{'_id': 5, 'Movie_Title': 'avengers', 'Reviewer': 'eve', 'Ratings': 8.4, 'Watched': 'true', 'Comments': 'epic finale'}

In [84]:
# Find all the Ratings > 8.0
for i in review.find({"Ratings" : {'$gt' : 8.0}}).sort({"_id" : 1}) : print(i)

{'_id': 2, 'Movie_Title': 'Inside out', 'Reviewer': 'david', 'Ratings': 8.1, 'Watched': 'true', 'Comments': 'tears and laughter in equal parts'}
{'_id': 4, 'Movie_Title': 'parasite', 'Reviewer': 'alice', 'Ratings': 9.1, 'Watched': 'true', 'Comments': 'dark twisted and brilliant'}
{'_id': 5, 'Movie_Title': 'avengers', 'Reviewer': 'eve', 'Ratings': 8.4, 'Watched': 'true', 'Comments': 'epic finale'}

In [88]:
# See all the comments
for i in review.find({},{'Comments' : 1}): print(i)

{'_id': 5, 'Comments': 'epic finale'}
{'_id': 4, 'Comments': 'dark twisted and brilliant'}
{'_id': 3, 'Comments': 'so bad its good ? No just bad'}
{'_id': 2, 'Comments': 'tears and laughter in equal parts'}
{'_id': 1, 'Comments': 'more terrigying than any horror movie'}

In [89]:
# Using the new-db for new CRUD Operations
conn.list_database_names()

['Movie_Review', 'admin', 'config', 'local', 'msr_college']

In [91]:
db = conn.msr_college
db.list_collection_names()

['new', 'users', 'bca', 'bsc']

In [92]:
bsc = db.bsc

In [93]:
for i in bsc.find({}):
    print(i)

{'_id': 1, 'name': 'hariprasad', 'l_name': ['prasad']}
{'_id': 2, 'name': 'anita', 'l_name': 'kumar', 'pass': 0, 'score': 4.3}
{'_id': 3, 'name': 'raj', 'l_name': 'mehta', 'pass': 1, 'score': 7.2}
{'_id': 4, 'name': 'sita', 'l_name': 'verma', 'pass': 1, 'score': 9.1}
{'_id': 5, 'name': 'vinay', 'l_name': 'singh', 'pass': 0, 'score': 5}
{'_id': 6, 'name': 'deepa', 'l_name': 'joshi', 'pass': 1, 'score': 8}
{'_id': 7, 'name': 'aman', 'l_name': 'sharma', 'pass': 1, 'score': 7.5}
{'_id': 8, 'name': 'neha', 'l_name': 'gupta', 'pass': 0, 'score': 3.9}
{'_id': 9, 'name': 'KARAN', 'l_name': 'yadav', 'pass': 1, 'score': 6.7}
{'_id': 10, 'name': 'poonam', 'l_name': 'chauhan', 'pass': 1, 'score': 9.3}
{'_id': 11, 'name': 'rohit', 'l_name': 'saxena', 'pass': 0, 'score': 4.8}
{'_id': 12, 'name': 'rekha', 'l_name': 'mishra', 'pass': 1, 'score': 7.9}
{'_id': 13, 'name': 'manoj', 'l_name': 'tripathi', 'pass': 1, 'score': 6.2}
{'_id': 14, 'name': 'komal', 'l_name': 'shah', 'pass': 0, 'score': 5.1}
{'_id': 15, 'name': 'vikas', 'l_name': 'agrawal', 'pass': 1, 'score': 8.7}

In [97]:
# Find all the students who passed 
for i in bsc.find(
    # Filter Component
    {"pass" : {'$eq' : 1}},

    # Target Component
    {'name' : 1, '_id' : 0}
    ):
    print(i) # These are all the students who passed ..

{'name': 'raj'}
{'name': 'sita'}
{'name': 'deepa'}
{'name': 'aman'}
{'name': 'KARAN'}
{'name': 'poonam'}
{'name': 'rekha'}
{'name': 'manoj'}
{'name': 'vikas'}

In [106]:
# Find all who passsed and scored more than 7
for i in bsc.find({'$and' :[
    {'pass' : 1},
    {'score' : {'$gt' : 7.0}}]}
    ) : print(i)

{'_id': 3, 'name': 'raj', 'l_name': 'mehta', 'pass': 1, 'score': 7.2}
{'_id': 4, 'name': 'sita', 'l_name': 'verma', 'pass': 1, 'score': 9.1}
{'_id': 6, 'name': 'deepa', 'l_name': 'joshi', 'pass': 1, 'score': 8}
{'_id': 7, 'name': 'aman', 'l_name': 'sharma', 'pass': 1, 'score': 7.5}
{'_id': 10, 'name': 'poonam', 'l_name': 'chauhan', 'pass': 1, 'score': 9.3}
{'_id': 12, 'name': 'rekha', 'l_name': 'mishra', 'pass': 1, 'score': 7.9}
{'_id': 15, 'name': 'vikas', 'l_name': 'agrawal', 'pass': 1, 'score': 8.7}

In [112]:
# Find all who passsed and scored more than 7, l_name is not 'metha'
for i in bsc.find({'$and' :[
    {'pass' : 1},
    {'score' : {'$gt' : 7.0}}, 
    {'l_name' : {'$ne' : 'mehta'}} # Disclude mehta..
    ]}
    # The 'mehta' should be within the and funtion
    ) : print(i)

{'_id': 4, 'name': 'sita', 'l_name': 'verma', 'pass': 1, 'score': 9.1}
{'_id': 6, 'name': 'deepa', 'l_name': 'joshi', 'pass': 1, 'score': 8}
{'_id': 7, 'name': 'aman', 'l_name': 'sharma', 'pass': 1, 'score': 7.5}
{'_id': 10, 'name': 'poonam', 'l_name': 'chauhan', 'pass': 1, 'score': 9.3}
{'_id': 12, 'name': 'rekha', 'l_name': 'mishra', 'pass': 1, 'score': 7.9}
{'_id': 15, 'name': 'vikas', 'l_name': 'agrawal', 'pass': 1, 'score': 8.7}

In [116]:
# Find student who scored < 8 or l_name = 'sharma'
for i in bsc.find({ '$or' : [
    {'score' : {'lt' : 8}},
    {'l_name': {'$eq' : 'sharma'}}
    ]}) : print(i)

{'_id': 7, 'name': 'aman', 'l_name': 'sharma', 'pass': 1, 'score': 7.5}

In [122]:
# Find student who scored < 8 or l_name = 'sharma'
for i in bsc.find({ '$or' : [
    {'score' : {'lt' : 8}},
    {'name': {'$regex' : '^[rs]',"$options": "i" }}
    ]}) : print(i)

{'_id': 3, 'name': 'raj', 'l_name': 'mehta', 'pass': 1, 'score': 7.2}
{'_id': 4, 'name': 'sita', 'l_name': 'verma', 'pass': 1, 'score': 9.1}
{'_id': 11, 'name': 'rohit', 'l_name': 'saxena', 'pass': 0, 'score': 4.8}
{'_id': 12, 'name': 'rekha', 'l_name': 'mishra', 'pass': 1, 'score': 7.9}

In [123]:
# Find score  > 9 or pass : 0
for i in bsc.find({'$or' :[
    {
        'score' : {'$gt' : 9},
    },
    {
        'pass' : {'$eq' : 0}
    }
]}): print(i)

{'_id': 2, 'name': 'anita', 'l_name': 'kumar', 'pass': 0, 'score': 4.3}
{'_id': 4, 'name': 'sita', 'l_name': 'verma', 'pass': 1, 'score': 9.1}
{'_id': 5, 'name': 'vinay', 'l_name': 'singh', 'pass': 0, 'score': 5}
{'_id': 8, 'name': 'neha', 'l_name': 'gupta', 'pass': 0, 'score': 3.9}
{'_id': 10, 'name': 'poonam', 'l_name': 'chauhan', 'pass': 1, 'score': 9.3}
{'_id': 11, 'name': 'rohit', 'l_name': 'saxena', 'pass': 0, 'score': 4.8}
{'_id': 14, 'name': 'komal', 'l_name': 'shah', 'pass': 0, 'score': 5.1}

In [126]:
# Same filter with and but pass : 1
for i in bsc.find({'$and' :[
    {
        'score' : {'$gt' : 9},
    },
    {
        'pass' : {'$eq' : 1}
    }
]}): print(i)

{'_id': 4, 'name': 'sita', 'l_name': 'verma', 'pass': 1, 'score': 9.1}
{'_id': 10, 'name': 'poonam', 'l_name': 'chauhan', 'pass': 1, 'score': 9.3}

In [128]:
# Retrieving only name, score and pass
for i in bsc.find({},{
    'name' : 1,'score' : 1, 'pass' : 1
}) : print(i)

{'_id': 1, 'name': 'hariprasad'}
{'_id': 2, 'name': 'anita', 'pass': 0, 'score': 4.3}
{'_id': 3, 'name': 'raj', 'pass': 1, 'score': 7.2}
{'_id': 4, 'name': 'sita', 'pass': 1, 'score': 9.1}
{'_id': 5, 'name': 'vinay', 'pass': 0, 'score': 5}
{'_id': 6, 'name': 'deepa', 'pass': 1, 'score': 8}
{'_id': 7, 'name': 'aman', 'pass': 1, 'score': 7.5}
{'_id': 8, 'name': 'neha', 'pass': 0, 'score': 3.9}
{'_id': 9, 'name': 'KARAN', 'pass': 1, 'score': 6.7}
{'_id': 10, 'name': 'poonam', 'pass': 1, 'score': 9.3}
{'_id': 11, 'name': 'rohit', 'pass': 0, 'score': 4.8}
{'_id': 12, 'name': 'rekha', 'pass': 1, 'score': 7.9}
{'_id': 13, 'name': 'manoj', 'pass': 1, 'score': 6.2}
{'_id': 14, 'name': 'komal', 'pass': 0, 'score': 5.1}
{'_id': 15, 'name': 'vikas', 'pass': 1, 'score': 8.7}