In [1]:
from sys import version
print(version)

3.11.7 | packaged by Anaconda, Inc. | (main, Dec 15 2023, 18:05:47) [MSC v.1916 64 bit (AMD64)]

In [1]:
import pymongo
from pymongo import MongoClient
conn = MongoClient('mongodb://localhost:27017/') # Initiating the connection

In [8]:
# Accessing the existing datase
print(conn.list_database_names())

# List of data-base names

['admin', 'config', 'local', 'msr_college']

In [9]:
# From this i need to access msr_college
db = conn['msr_college']

In [13]:
# Accessing the collections
print(db.list_collection_names())

# List of Collection Names

['user_info', 'bca', 'bsc']

In [14]:
bca = db.bca # Taking the `bca` collection
bsc = db.bsc # `bsc` colleciton

1. Extracting info.

In [15]:
bca.find_one({})

{'_id': 1, 'name': 'hari', 'l_name': 'prasad', 'pass': 1, 'score': 8.9}

In [17]:
bsc.find_one({'_id' : 10})

{'_id': 10, 'name': 'poonam', 'l_name': 'chauhan', 'pass': 1, 'score': 9.3}

2. Extracting all the collection : documents

In [20]:
for i in bca.find({}).limit(5):
    # Limiting cause > 30 rows
    print(i)

{'_id': 1, 'name': 'hari', 'l_name': 'prasad', 'pass': 1, 'score': 8.9}
{'_id': 2, 'name': 'anita', 'l_name': 'kumar', 'pass': 0, 'score': 4.3}
{'_id': 3, 'name': 'raj', 'l_name': 'mehta', 'pass': 1, 'score': 7.2}
{'_id': 4, 'name': 'sita', 'l_name': 'verma', 'pass': 1, 'score': 9.1}
{'_id': 5, 'name': 'vinay', 'l_name': 'singh', 'pass': 0, 'score': 5}

In [36]:
for i in bsc.find({}).limit(3):
    print(i)

{'_id': 1, 'name': 'hariprasad', 'l_name': ['prasad']}
{'_id': 2, 'name': 'anita', 'l_name': 'kumar', 'pass': 0, 'score': 4.3}
{'_id': 3, 'name': 'raj', 'l_name': 'mehta', 'pass': 1, 'score': 7.2}

3. Deleting the un-wanted result

In [33]:
bsc.delete_one({'title' : 'some-comment'})

# Do not use _id : objectId, just use some unique variable..

DeleteResult({'n': 0, 'ok': 1.0}, acknowledged=True)

In [37]:
for i in bsc.find({}).limit(3): print(i)

{'_id': 1, 'name': 'hariprasad', 'l_name': ['prasad']}
{'_id': 2, 'name': 'anita', 'l_name': 'kumar', 'pass': 0, 'score': 4.3}
{'_id': 3, 'name': 'raj', 'l_name': 'mehta', 'pass': 1, 'score': 7.2}

4. Accessing the other collection as well

In [53]:
users = db.users

In [54]:
for i in users.find({}):
    print(i)

{'_id': ObjectId('67f7c44373795588e816c9bd'), 'name': 'hari', 'l_name': 'Prasad', 'hobbies': ['Photography', 'music', 'GenAI']}
{'_id': ObjectId('67f7c6aa73795588e816c9be'), 'name': 'gagan', 'hobbies': ['Photography', 'music', 'GenAI', 'Landscape Photography']}
{'_id': ObjectId('67f7c6aa73795588e816c9bf'), 'name': 'yuktha', 'hobbies': ['student']}
{'_id': ObjectId('67f7c6aa73795588e816c9c0'), 'name': 'vishal', 'hobbies': ['Photography', 'music', 'GenAI', 'Gamer']}

5. Adding a new colleciton

In [55]:
db.list_collection_names()

['new', 'users', 'bca', 'bsc']

In [56]:
new = db['new'] # Added a new-collection

In [57]:
new.insert_one({"name" : 'hari', 'l_name' : 'prasad', 'cgpa' : 9})

InsertOneResult(ObjectId('67f945e2127fdd947026274c'), acknowledged=True)

In [58]:
db.list_collection_names()

['new', 'users', 'bca', 'bsc']

In [59]:
for i in new.find({}):
    print(i)

{'_id': ObjectId('67f943e5127fdd947026274b'), 'name': 'hari', 'l_name': 'prasad', 'cgpa': 9}
{'_id': ObjectId('67f945e2127fdd947026274c'), 'name': 'hari', 'l_name': 'prasad', 'cgpa': 9}

In [62]:
new.delete_one({'name': 'hari'})

DeleteResult({'n': 1, 'ok': 1.0}, acknowledged=True)

In [63]:
for i in new.find({}):
    print(i)

{'_id': ObjectId('67f945e2127fdd947026274c'), 'name': 'hari', 'l_name': 'prasad', 'cgpa': 9}

6. Adding the Logical Operator : $eq, $gt, $lt, $and, $or, $lte, $gte

$gt

In [70]:
# Here we are taking BCA

# filter var -- target var
for i in bca.find(
    {'score' : {'$gt' : 5}}, {'name' : 1, '_id' : 0}
).limit(5).sort({'name' : 1}):
    print(i)

{'name': 'aman'}
{'name': 'arun'}
{'name': 'deepa'}
{'name': 'dinesh'}
{'name': 'hari'}