MAKING A VIRTUAL ENVI : TO AVOID THE PACKAGE CONFLICT

In [ ]:
import pandas as pd

In [ ]:
type(pd)

In [ ]:
# 0. pip install virtualenv
# 1. virtualenv name-of-env ------> In terminal 
# 2. Right Click and Open the Env Folder in Terminal 
# 3. Now we need to Activate 
    ## --- Anaconda Navigator will take care

GETTING ALL MY REQUIREMENT IN THE VIRTUAL ENV

In [ ]:
# pip freeze > file-name.txt

LAMBDA FUNCTION

NORMAL FUNCITON

In [ ]:
def square(number):
    return number * number

In [ ]:
square(5)

WE CAN DO THE SAME THING IN LAMBDA FUNCTION

In [ ]:
# Basically Lambda Function are used only One they are also called as anonymus funciton

In [ ]:
square = lambda x : x * x

In [ ]:
square(5)

In [ ]:
# Sum of two Numbers

In [ ]:
sum = lambda a,b,c : a+b+c

In [ ]:
sum(1,2,3)

In [ ]:
# Warlous Operator

In [ ]:
for i in (l:=[1,2,3,4,5]):
    if i == 2:
        print("found 2")
        break

In [ ]:
for i in range(len(name:=input('Enter your name :'))):
    print(name[i])

In [ ]:
name

In [4]:
def sum(number):
    global numb
    numb = number + 10
    return numb

In [5]:
sum(5)

15

In [6]:
numb

15

JOIN METHOD

Join is Basically used in string

In [9]:
a = "hari"
b = "prasad"
print(a+b)

hariprasad

In [12]:
try:
    with open('sample.txt','r') as f:
        print(f.readline())
except Exception as e:
    print('Bitch there is no file')

Bitch there is no file

FORMATE

In [13]:
a = "{} <- name, {} <- name2".format("hari","prasad")
a

'hari <- name, prasad <- name2'

In [14]:
# I can also mention which comes where
a = "{1} <- name, {0} <- name2".format("hari","prasad")
a

'prasad <- name, hari <- name2'

MAP-FILTER REDUCE

In [21]:
l = [2,4,6,8]
square = lambda x : x*x
for i in l:
    print(square(i))

4
16
36
64

PRACTICE

In [1]:
# WAP to create a virtual env

In [3]:
# WAP to input name, marks and phone number of a student and formate it using the formate option

content = ["name","phone-number","marks"]
for i in content:
    i = input(f"Enter the content for {i}")
    print(i)

hari
1234
899

In [ ]:
name = input('Enter Name : ')
phone = int(input('Enter Ph-no : '))
marks = int(input('Enter Marks : '))

bio = "The name of the student is {0}, his marks is {1} and his phone number is {2}".format(name,marks,phone)

print(bio)

The name of the studnet is hari, his marks is 899 and his phone number is 898988

In [23]:
# WAP to print 7 table in a file

with open('table.txt','w') as f:
    for i in range(1,11):
        f.write(f" {7} x {i} = {7*i}")

In [24]:
table = [7 * i for i in range(1,10)]
table

[7, 14, 21, 28, 35, 42, 49, 56, 63]

In [25]:
with open("C:\\Users\\harip\\Desktop\\BASICS\\Python_Basics\\Adv_Python_2\\table.txt",'r') as f:
    content = f.readline()
    print(content,"\n")

 7 x 1 = 7 7 x 2 = 14 7 x 3 = 21 7 x 4 = 28 7 x 5 = 35 7 x 6 = 42 7 x 7 = 49 7 x 8 = 56 7 x 9 = 63 7 x 10 = 70