Solving Random Python Questions âœ¨

In [ ]:
from sys import version
print(version)

3.11.12 (main, Apr  9 2025, 08:55:54) [GCC 11.4.0]

In [ ]:
# Sample Python Code
print('Hello World !')

Hello World !

In [ ]:
# Checking Number is Even or Odd
def EO_Checker(number):
    return "Even" if number%2==0 else "Odd"

# op
EO_Checker(2)
EO_Checker(1)

'Odd'

In [ ]:
# Function that return Square of a Number
square = lambda x : x ** 2

# op
square(2)
square(4)

16

In [ ]:
# Convert a number to a string without using type-convertion
# You can do it using ORD -- Learn

# or
user_inpt = input('Enter the number : ')
int(user_inpt)
float(user_inpt)

Enter the number : 111

111.0

In [ ]:
# Return a MAX of 2 numbers
a, b = 10, 20
max(a,b)

# or
print(result:= a if a>b else b, "is Greater")

# Ternary Operator

20 is Greater

In [ ]:
# Check if a number is odd-even in list
l = [x for x in range(10)]
oe = ['Even' if x%2==0 else 'Odd' for x in l]
oe

['Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd']

In [ ]:
# Convert Celsius to Fahrenheit.
c_f = lambda x : x * 33.8 # You can also do it by a eq.
c_f(21)

709.8

In [ ]:
# Reverse a String without using a Slice

sample_string = 'hari'
sample_string[::-1]

# or
rev_string = ''
for i in range(len(sample_string)-1,-1,-1):
    rev_string+=sample_string[i]

rev_string

'irah'

Coding Practice ..

In [1]:
# Reverse the string without slicing
string = "hari"
string[::-1]

'irah'

In [13]:
rev_string = ''
for i in range(len(string)-1,-1, -1):
    rev_string+=string[i]
print(rev_string)

irah

In [15]:
# print the number from 1 - n
number = [x for x in range(1, int(input('Enter the number : ')))]
print(number)

Enter the number : 5
[1, 2, 3, 4]

In [17]:
# Find the sum of all the numbers in a list
import random
sample_list = [random.randint(1,10) for x in range(10)]
print(sample_list)
print(sum(sample_list))

[4, 5, 8, 2, 4, 8, 5, 5, 10, 6]
57

In [18]:
# Manually
sum = 0
for i in sample_list:
    sum+=i
print(sum)

57

In [24]:
# Return only +ve numbers from the list
import random
sample_list = [random.randint(-10,10) for _ in range(10)]
print(sample_list)

[4, 5, -7, -3, 5, -2, 7, -2, 9, -4]

In [25]:
pos_number = [x for x in sample_list if x > 0]
print("Positive Numbers are : ", pos_number)

Positive Numbers are :  [4, 5, 5, 7, 9]

In [32]:
# Implement Linear Search..

# Linear search -- checks if the user_inpt == array[i] element
import random
linear_list = [random.randint(1,10) for x in range(10)]
print(linear_list)

# Approach

# Sort it and then find, shorted number will be found earliest

# Sort--reverse it and then find, largest number will be found earliest

# Need to have a approach to find it quick

[8, 7, 8, 9, 9, 5, 5, 3, 10, 7]

In [42]:
try:
    user_inpt = int(input('Enter the ele to search : '))
    result = [linear_list.index(x) for x in linear_list if x == user_inpt]

    print('The ele is found at',list(set(result))) # If we have two result .. wrap(list(set(list)))

    # Or
    print('The ele is found at',result[0]) # If we have two result .. we can extract one by indexing

except Exception as e:
    print(e)

Enter the ele to search : 5
The ele is found at [5]
The ele is found at 5

In [67]:
# Binary Search
import random
binary_list = [random.randint(1,10) for x in range(10)]
print(binary_list)

[7, 2, 4, 5, 7, 4, 2, 1, 6, 2]

In [83]:
binary_list.sort()
user_input_binary = int(input('Enter the number : '))
mid_value_binary = binary_list[len(binary_list) // 2]
# print(f'The user input {user_input_binary} and mid_value {mid_value_binary}')

# Looping-through the list
if user_input_binary > mid_value_binary:

    print('Performing the Right Search')
    result = [binary_list.index(x) for x in binary_list[mid_value_binary:] if x == user_input_binary][0] # Just to print single-value
    print(f'The result found @ {result} index')

else:

    print('Performing the Right Search')
    result = [binary_list.index(x) for x in binary_list[:mid_value_binary] if x == user_input_binary][0]
    print(f'The result found @ {result} index')

Enter the number : 5
Performing the Right Search
The result found @ 6 index

In [136]:
# Factorial of a number
fact = 1
user_input = int(input('Enter the number for factorial : '))

for i in range(user_input, 0, -1):
    fact*=i
    print(i , end = ' ', sep='*')

print('\t')
print(fact)

Enter the number for factorial : 5
5 4 3 2 1
120

In [99]:
fact = 1

for i in range(1, user_input:=int(input('Enter a Number : ')) + 1):

    fact*=i

print(fact)

Enter a Number : 5
120

In [104]:
# Count the number of words in a sentence
sentence = 'Hi my name is hariprasad'

print(len(sentence))

result = [len(x) for x in sentence.split()]

print("The sum of total words in a sentence is ",len(result))

24
The sum of total words in a sentence is  5

In [112]:
# Return the longest word in a sentence
sentence = 'hi my name is hariprasad and i am from bangalore'

word_counter = {x : len(x) for x in sentence.split()}

for key,value in word_counter.items():

    if value == max(word_counter.values()):

        print(key) # Longest word in the sentence

hariprasad

In [127]:
# Capitalize the first-word of each sentence
sentence = 'hi my name is hari'
empt_string = ''

for i in sentence.split():

    empt_string+=i.capitalize()+ ' '

print(empt_string)

Hi My Name Is Hari

In [130]:
# check if the string is pallindrom or not
string ="Hi i went to the Airpot with my mom and dad"

result = [x for x in string.split() if (x == x[::-1]) & (len(x) > 1)]

# Why len(x) > 1 : Cause single letter is also being considerd

print(result)

['mom', 'dad']

In [131]:
# Filter a string to return only even numbers
import random

sample_list = [random.randint(1,10) for x in range(10)]

even_only = [x for x in sample_list if x%2==0]

print(even_only)
# All the even number from the list ..

[10, 8, 2, 8, 4, 10]

In [138]:
# Return a new list which has squares of even number
import random

square_list = [random.randint(1,10) for x in range(10)]

square = [x**2 if x%2==0 else x for x in square_list]

print(square)

# Only the even numbers are squared and the odd is just printed..

[36, 3, 3, 64, 7, 1, 16, 9, 4, 36]

In [158]:
# Findig the second largest number in the list without sort
s_large = [1,3,4,5,2]

In [161]:
# For-Sorting we will take the help of temp

temp = 0
for i in range(len(s_large)):

    for j in range(i, len(s_large)):

        if s_large[i] < s_large[j]:

            # s_large[i], s_large[j] = s_large[j], s_large[i]

            temp = s_large[i]

            s_large[i] = s_large[j]

            s_large[j] = temp

print(s_large[1])

# The second largest number is printed

# Do not use random left and right here and there...

4

In [166]:
# In a list check if all the element are unique

# So we can use count ...

sample_list = [1,2,3,3,4,5,6,7]

for i in sample_list:
    # Another use for-else loop

    if sample_list.count(i) > 1:
        print('Non Unique')
        break
else:
    print(sample_list, "The list has all unique elements")

Non Unique

In [168]:
# Given two-list return all the common elements

list_a = [1,2,3,4,5]

list_b = [10,9,8,7,5]

for i,j in zip(list_a, list_b):
    if i == j:
        print(i)
# These are all the common elements in the list...

5

In [177]:
# Flatten the list
nested_list = [[1, 2], [3, 4], [5, [6, 7]]]

# Observation : We have multiple-sub list here
try:
    for i in range(len(nested_list)):
        for i in nested_list[i]:
            try:
                for ele in i:
                    print(ele, end= ' ')
            except:
                print(i, end =' ')
except Exception as e:
    print(e, end =' ')


# Here we have used multiple try and error to solve this yet there are many cases we can use

1 2 3 4 5 6 7

This is more simple approach to follow

In [176]:
for i in nested_list:
    for ele in i:
        try:
            for elem in ele:
                print(elem, end =' ')
        except:
            print(ele, end = ' ')

1 2 3 4 5 6 7

In [220]:
# Rotate a list k times to the right
list_r = [1,2,3,4,5,6,7,8,9,10]

# Rotate the elemet in the list
k = 4
for i in range(k):
    list_r.append(list_r[i])

for i in range(k):
    list_r.remove(list_r[i])


# need to work on to this

In [219]:
print(list_r)

[2, 4, 6, 8, 9, 10, 1, 2, 3, 4]

In [229]:
# del sum

In [230]:
# Return the running sum of a list
sum_list = []

while True:
    try:
        user_input = int(input('Enter the number : '))
        sum_list.append(user_input)
        print(sum(sum_list))

    except Exception as e:
        print(e)
        break

Enter the number : 1
1
Enter the number : 2
3
Enter the number : 3
6
Enter the number : 4
10
Enter the number : 5
15
Enter the number : break
invalid literal for int() with base 10: 'break'

In [257]:
# Count frequency of words in a string and return a dictionary.

a_string = 'hi my name is hariprasad'
word_dict = {}
for i in a_string:
    if i  != ' ':
        word_dict[i] = string.count(i)
word_dict

# Here i have skipped the space...

{'h': 2,
 'i': 4,
 'm': 3,
 'y': 1,
 'n': 2,
 'a': 2,
 'e': 2,
 's': 0,
 'r': 1,
 'p': 1,
 'd': 3}

In [258]:
# Given the dict return the len of the word in dict
string = "hi my name is hariprasad and i stay in bangalore"
_ = {x : len(x) for x in string.split()}
print(_)

{'hi': 2, 'my': 2, 'name': 4, 'is': 2, 'hariprasad': 10, 'and': 3, 'i': 1, 'stay': 4, 'in': 2, 'bangalore': 9}

In [273]:
# Find the max difference btw any two element in the list
import random
a_list = [random.randint(1,10) for x in range(10)]
print(a_list)

[5, 4, 9, 10, 2, 8, 4, 1, 5, 9]

In [274]:
# To find the any two elemetn , 2 way subract each ele with one ele and then find or
a_max = max(a_list)
a_min = min(a_list)
print('The index element will have the max distance', a_list.index(a_max), a_list.index(a_min))
print(a_max - a_min)

The index element will have the max distance 3 7
9

In [275]:
# Remove the duplicates from the list

# Take the previous list as an example
a_list

[5, 4, 9, 10, 2, 8, 4, 1, 5, 9]

In [276]:
for i in a_list:
    if a_list.count(i) > 1:
        a_list.remove(i)
a_list

# This removed all the repeated elements

[10, 2, 8, 4, 1, 5, 9]