ADVANCED PYTHON

WALRUS OPERATOR

They allow you to assign value on the fly, while executing the code

In [ ]:
print(a = 3) # I cannot assign as i want , ERROR

TypeError: 'a' is an invalid keyword argument for print()

In [2]:
# WALRUS OPERATOR CAN DO IT 
print(a:=3)

3

In [ ]:
# Similarly 
if len(a =[1,2,3,4,5,6]) > 3: # ERROR
    print("The Length is grater than 3")

TypeError: len() takes no keyword arguments

In [6]:
# Similarly 
if len(a:=[1,2,3,4,5,6]) > 3: # I have assigned the list while executing the code directly 
    print(a) # I can also print 'a' -> LIST
    print("The Length is grater than 3")

[1, 2, 3, 4, 5, 6]
The Length is grater than 3

SPECIFICALLY DEFINING THE TYPE OF VARIABLE

In [10]:
n : int = 5 # I have Specifically Defined n as an int

In [12]:
# I can access all the int -> methods when i put n.

They are also used majorly in functions

Basically you tell the type of the variable, just like C Programming

In [15]:
def add(a : int, b : int): # Sample way of using the type definition in the function
    return a+b

In [14]:
add(3,10)

13

Similarly for Union, List and Tuple

In [16]:
a = {1,2,3,4,5}
b = {5,6,7,8,9}

In [ ]:
a.union(b) # Combines all removes the repeated ones

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [19]:
a.intersection(b) # Gives only the common one

{5}

In [20]:
dict = {}
set = set()
tuplee = ()
list = []

In [23]:
print(type(dict)) # Cannot contain duplicate Keys
print(type(set)) # Cannot contain duplicate Values
print(type(tuplee)) # Can contain duplicate values but cannot be changed --> Similar to string 
print(type(list)) # Can be changed can can have duplicate values

<class 'dict'>
<class 'set'>
<class 'tuple'>
<class 'list'>

In [29]:
set.add(10)
set.add(20)
set.remove(10)

In [30]:
set

{20}

In [31]:
tuplee = (1,1,1,2,3,4,5,6,7,8,9)

Cannot change as we want in index

In [38]:
tuplee[1] = 10

TypeError: 'tuple' object does not support item assignment

In [32]:
tuplee

(1, 1, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [33]:
set.add(20)

In [35]:
set.add(20)

In [37]:
set # No matter how many times i add 20 only 1 20 will be there in the list

{20}

SIMILARLY FOR UNION, TUPLE AND LIST using the TYPING MODULE

In [41]:
from typing import Union,List,Tuple

In [42]:
number : List[int] = [1,2,3,4,5]
# number is my Variable -> Which only has INTEGER and not other Datatypes 
# IT IS A LIST WITH INT - dtype

In [43]:
# When i do number. i get all the list methods

In [44]:
# If i try to append a str into number
number.append('hello')

In [47]:
number # It takes BS

[1, 2, 3, 4, 5, 'hello']

WARLUS OPERATOR

In [49]:
if len(name := input('Enter your name')) > 3:
    print('The name is greater than 3 letters')

Typing module

In [12]:
from typing import Tuple

number : Tuple[int] = (1,2,3,4)
number.count(2) # Basically count the number of times the number is appraring


from typing import List
values: List[str] = [1,2,3,"one"] # Here i can metion the types of datatype i need
# Again NOTE : values.

SWITCH CASE

PYTHON HAS SOMETHING CALLED " MATCH "

In [16]:
# match 
    # case

def user_input(number):
    match number:
        case 1:
            return "One"
        case 2:
            return "Two"
        case _:
            return 'Unknown'

In [17]:
user_input(1)

'One'

In [18]:
user_input('hari')

'Unknown'

In [19]:
user_input = int(input('Enter the number : '))
match user_input:
    case 1:
        print('One')
    case 2:
        print('Two')
    case _ : 
        print('Unknown')

Unknown

MERGING TWO DICTIONARY

In [21]:
a= {'a' : 1, 'b' : 2}
b = {'c' : 3, 'd' : 4}

merged_dictionary = a | b

print(merged_dictionary)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

EXCEPTION HANDLING

In [22]:
# try-block:
# except-block:

In [25]:
try:
    a = int(input('Enter a number : '))
    print(a)
except Exception as e:
    print(e)
    print('Thank you ')
    
print('This is outside the except block') # This get accepted anyways

5
This is outside the except block

Different Types of Exceptions

In [27]:
try:
    a = int(input('Enter a number : '))
    print(a)
except ValueError as v:
    print(v)
except Exception as e:
    print(e)

invalid literal for int() with base 10: 'hari'

RAISING EXCEPTION

In [36]:
a = int(input('Enter a Number : '))
b = int(input('Enter a Number : '))
if (b == 0):
    raise ZeroDivisionError('Hey program not ment to deal with zero')
print(a/b)

0.5

MORE EXCEPTION HANDLING

TRY-ELSE

In [37]:
# try

# except

# else

In [47]:
try:
    a = int(input('Enter a number : '))
    print(a)

except Exception as e:
    print(e)

else:
    print(' Hey I am inside ELSE') # It goes inside else only if the try-block is executed succesfully !!!

5
 Hey I am inside ELSE

TRY-FINALLY

In [38]:
# try

# except 

# finally

In [49]:
try:
    a = int(input('Enter a number : '))
    print(a)

except Exception as e:
    print(e)

finally :
    print(' Hey I am inside FINALLY !!! ') # This block runs no matter what , even is the try-block is executed not executed

invalid literal for int() with base 10: 'hari'
 Hey I am inside FINALLY !!!

FINALLY -> They are Majorly used inside a function

GENERALLY IN FUNCTION WHAT-EVER IS AFTER RETURN WONT BE EXECUTED BUT HERE IT WILL BE EXECUTED WHEN FINALLY IS INTERODUCED

In [50]:
def random():
    try:
        a = int(input('Enter a number : '))
        print(a)
        return a # The finally Block will run even if there is a return function
        
    except Exception as e:
        print(e)
        
    finally:
        print('This is working ')

In [51]:
random()

invalid literal for int() with base 10: 'hari'
This is working

In [55]:
def number(num):
    try:
        if num > 0:
            print(num)
    except TypeError as t:
        print(t)
    finally:
        print('Bro you a nigga')

In [56]:
number(10)

10
Bro you a nigga

In [57]:
number('hari')

'>' not supported between instances of 'str' and 'int'
Bro you a nigga

Importing the file as a module

In [60]:
from module import myFunc

GLOBAL AND LOCAL VARIABLES

ENUMERATE OPERATON

In [64]:
sample_list = [1,2,3,4,5]

# ASSUME i need to print the index number and the element in list 
# NOTE so much step is involved 

index = 0
for i in sample_list:
    print(f'{index} <- INDEX, NUMBER -> {i}')
    index+=1

0 <- INDEX, NUMBER -> 1
1 <- INDEX, NUMBER -> 2
2 <- INDEX, NUMBER -> 3
3 <- INDEX, NUMBER -> 4
4 <- INDEX, NUMBER -> 5

THE ABOVE ENTIRE CAN BE BOUGHT DOWN TO

In [79]:
# Or we can do 
for index,i in enumerate(sample_list):
    print(index,i)

0 1
1 2
2 3
3 4
4 5

LIST COMPREHENSION

In [83]:
l = [1,2,3,4,5,6,7]
new_l = []

# same if i need to print the square of all the item in list

for i in l:
    new_l.append(i*i)
print(new_l)

[1, 4, 9, 16, 25, 36, 49]

Or we can use list comprehension to do that

variable_name = [perform-operation for each-item in list]

In [84]:
new_list = [item * item for item in l]
print(new_list)

[1, 4, 9, 16, 25, 36, 49]

In [87]:
odd_even = [i % 2== 0 for i in l]
print(odd_even)

[False, True, False, True, False, True, False]

PRACTICE SETS

In [ ]:
# WAP TO MAKE THREE FILES AND READ THEM

file = ['one.txt','two.txt','three.txt']
try:
    for i in range(len(file)):
        with open(file[i],'r') as f:
            print(line:= f.read())
except Exception as e:
        print(e)

[Errno 2] No such file or directory: 'one.txt'

In [5]:
# Lets try for all the file's

try:
    with open('one.txt','r') as f:
        print(f.read())
except Exception as e:
    print(e)

try:
    with open('two.txt','r') as f:
        print(f.read())
except Exception as e:
    print(e)

try:
    with open('three.txt','r') as f:
        print(f.read())
except Exception as e:
    print(e)

[Errno 2] No such file or directory: 'one.txt'
[Errno 2] No such file or directory: 'two.txt'
[Errno 2] No such file or directory: 'three.txt'

In [14]:
# WAP to print the 3,5,7 elemt of list using enumerate funciton

def list_enu(l):
    for index,item in enumerate(l):
        if index % 2 !=0:
            print(f' ITEM = {item} and INDEX = {index}')

In [15]:
a = [90,89,88,87,86,85,84,84,83,82,81]
list_enu(a)

 ITEM = 89 and INDEX = 1
 ITEM = 87 and INDEX = 3
 ITEM = 85 and INDEX = 5
 ITEM = 84 and INDEX = 7
 ITEM = 82 and INDEX = 9

In [ ]:
# WAP to print the list comphrension for multiplication tabel

def multi(element): # Here function is not required i just made one 
    
    global multiplication # I made multiplication gloabal so i can access it outside the function
    
    multiplication = [i * element for i in range(1,11)]
    
    print(multiplication)

In [28]:
multi(2)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [29]:
multiplication

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [44]:
# WAP to display a/b where a and b are integers. If b=0 display infinite by handling 'ZeroDivisionError'

def random(a,b):
     if b == 0:
            raise ZeroDivisionError('Infinite')
     else:
         
        print(a/b)

LEARN WHERE EXACTLY YOU NEED TO USE THE TRY AND EXCEPT BLOCK DONT USE IT EVERY WHERE

In [47]:
# random(2,0)
random(2,5)

0.4

In [43]:
a = int(input('Enter a Number : '))
b = int(input('Enter a Number : '))
if (b == 0):
    raise ZeroDivisionError('Hey program not ment to deal with zero')
print(a/b)

0.4

In [ ]:
# WAP to store multiplication table generate file : table.txt

try:
    number = int(input('Enter the number : '))
    
except ValueError as v:
        print(v)

else: # This Block Only gets executed only when the try block is success 
    # if you use finally it will get executed no matter what 
        with open('table.txt','w') as t:
            for i in range(1,11):
                t.write(f'{number} x {i} = {number * i} \n')
                
                
                # SUPER MACHIII

KNOW WHAT IS THE USE OF __NAME__ FUNCTION AND WHERE TO USE IT