In [11]:
import pandas as pd

In [33]:
df = pd.read_csv("C:\\Users\\harip\\Desktop\\refrence\\data_science\\dataset\\weather_data.csv",parse_dates=['day'])
df = df.set_index('day')
df.head()

            temperature  windspeed  event
day
2017-01-01         32.0        6.0   Rain
2017-01-04          NaN        9.0  Sunny
2017-01-05         28.0        NaN   Snow
2017-01-06          NaN        7.0    NaN
2017-01-07         32.0        NaN   Rain

In [34]:
date = pd.date_range("01-01-2017","01-11-2017")
date

DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04',
               '2017-01-05', '2017-01-06', '2017-01-07', '2017-01-08',
               '2017-01-09', '2017-01-10', '2017-01-11'],
              dtype='datetime64[ns]', freq='D')

In [40]:
indx = pd.DatetimeIndex(date)

df = df.reindex(indx)
df
df.interpolate(method='time')

# NOTE YOU CAN ALSO USE FFILL / BFILL / ANY FILLING TECHNIQUES

C:\Users\harip\AppData\Local\Temp\ipykernel_13412\4253643781.py:5: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df.interpolate(method='time')

            temperature  windspeed   event
2017-01-01    32.000000       6.00    Rain
2017-01-02    31.000000       7.00     NaN
2017-01-03    30.000000       8.00     NaN
2017-01-04    29.000000       9.00   Sunny
2017-01-05    28.000000       8.00    Snow
2017-01-06    30.000000       7.00     NaN
2017-01-07    32.000000       7.25    Rain
2017-01-08    32.666667       7.50   Sunny
2017-01-09    33.333333       7.75     NaN
2017-01-10    34.000000       8.00  Cloudy
2017-01-11    40.000000      12.00   Sunny