In [9]:
import pandas as pd

* They are PYTHON datastructure
* They store values in key:value pair
* They also represent data in tabular formate

In [15]:
# creating a data frame

# NOTE 1. Method one where we use SERIES
a = pd.Series(['1/1/17','1/2/17','1/3/17','1/4/17','1/5/17','1/6/17'])   
a = pd.DataFrame(a)
a

# NOTE 2. Method two where we use DATA FRAME
weather = pd.DataFrame({
    'date' : ['1/1/17','1/2/17','1/3/17','1/4/17','1/5/17','1/6/17'],
    'temp' : [22,23,24,25,26,27],
    'event' : ['Rain','Snow','Sunny','Rain','Snuuy','Snow'],
    'windspeed' : [6,7,8,9,10,11]
    })
weather

     date  temp  event  windspeed
0  1/1/17    22   Rain          6
1  1/2/17    23   Snow          7
2  1/3/17    24  Sunny          8
3  1/4/17    25   Rain          9
4  1/5/17    26  Snuuy         10
5  1/6/17    27   Snow         11

SHAPE AND SIZE

In [17]:
weather.shape
# NOTE shows the number of rows x col's

(6, 4)

In [19]:
weather.size
# NOTE shows the total number of elements

24

SLICING

In [22]:
weather[1:4] # NOTE gives 1 - 4 rows , same concept used in the NUMPY

     date  temp  event  windspeed
1  1/2/17    23   Snow          7
2  1/3/17    24  Sunny          8
3  1/4/17    25   Rain          9

CHECKING THE DATATYPE

In [26]:
weather.dtypes

date         object
temp          int64
event        object
windspeed     int64
dtype: object

MATHEMATICAL FUNCTIONS IN PANDAS

In [34]:
df = pd.read_csv("C:\\Users\harip\\Desktop\\refrence\\data_science\\dataset\\nyc_weather.csv")
df.head()

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.03,10,8.0,0,5,NaN,281
1,1/2/2016,36,18,46,30.02,10,7.0,0,3,NaN,275
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,NaN,277
3,1/4/2016,25,9,44,30.05,10,9.0,0,3,NaN,345
4,1/5/2016,20,-3,41,30.57,10,5.0,0,0,NaN,333

FUNCTIONS

In [37]:
# Accessing the particular elements

# NOTE : df.Temperature
# NOTE : df['Temperature']

In [42]:
# NOTE To find the maxvalue
df.Temperature.max()

# NOTE To find the minvalue
df.Temperature.min()

# NOTE To find the meanvalue
df.Temperature.mean()

# NOTE To find the std-value
df.Temperature.std()

7.639315400279415

GET THE STATISTICAL VALUE

In [44]:
# NOTE This gives all the statistical value
df.Temperature.describe()

count    31.000000
mean     34.677419
std       7.639315
min      20.000000
25%      29.000000
50%      35.000000
75%      39.500000
max      50.000000
Name: Temperature, dtype: float64

CONDITIONAL SELECT

In [54]:
df.Temperature >= 32 # NOTE Gives Temp values in Boolean

df[df.Temperature >= 32] # NOTE Gives all the values of temp-value >= 32

df[df.Temperature == df.Temperature.max()] # NOTE Gives all values on the Temp.max() value

df['EST'][df.Temperature == df.Temperature.max()] # NOTE gives only the col of temp.max() value
df[['EST','Humidity']][df.Temperature == df.Temperature.max()] # NOTE gives only the col of temp.max() value

         EST  Humidity
9  1/10/2016        71