In [13]:
import pandas as pd

In [14]:
df = pd.read_csv("C:\\Users\\harip\\Desktop\\refrence\\data_science\\dataset\\nyc_weather.csv")

loc & iloc

In [15]:
df.index # NOTE gives the range of index START and END

RangeIndex(start=0, stop=31, step=1)

SETTING A PARTICULAR COL AS AN INDEX

In [16]:
df.set_index('EST').head(1)

,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
EST,,,,,,,,,,
1/1/2016,38,23,52,30.03,10,8.0,0,5,NaN,281

In [17]:
# NOTE To reset the index
df.reset_index().head(1)

,index,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,0,1/1/2016,38,23,52,30.03,10,8.0,0,5,NaN,281

LOC AND ILOC

In [36]:
df.head()

,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
EST,,,,,,,,,,
1/1/2016,38,23,52,30.03,10,8.0,0,5,NaN,281
1/2/2016,36,18,46,30.02,10,7.0,0,3,NaN,275
1/3/2016,40,21,47,29.86,10,8.0,0,1,NaN,277
1/4/2016,25,9,44,30.05,10,9.0,0,3,NaN,345
1/5/2016,20,-3,41,30.57,10,5.0,0,0,NaN,333

In [49]:
sdf = df.set_index('Temperature')
sdf.loc[38] # NOTE picks the value in the index

DewPoint                   23
Humidity                   52
Sea Level PressureIn    30.03
VisibilityMiles            10
WindSpeedMPH              8.0
PrecipitationIn             0
CloudCover                  5
Events                    NaN
WindDirDegrees            281
Name: 38, dtype: object

In [20]:
df.iloc[1] # NOTE This is used for indexing

EST                     1/2/2016
Temperature                   36
DewPoint                      18
Humidity                      46
Sea Level PressureIn       30.02
VisibilityMiles               10
WindSpeedMPH                 7.0
PrecipitationIn                0
CloudCover                     3
Events                       NaN
WindDirDegrees               275
Name: 1, dtype: object