In [1]:
from sys import version
print(version[:7])

3.11.7

Dictionary & Sets

In [2]:
dict = {}
print(type(dict))

<class 'dict'>

In [4]:
sample_dict = {x : x+1 for x in range(1,10)}
sample_dict

{1: 2, 2: 3, 3: 4, 4: 5, 5: 6, 6: 7, 7: 8, 8: 9, 9: 10}

In [5]:
print(type(sample_dict))

<class 'dict'>

In [6]:
more_sample_dict = {
    "name" : "Hemanth",
    "age" : 24,
    "cgpa" : 9.3,
    "marks" : [x for x in range(96,100)],
    "_has_chopper" : False
}

In [7]:
more_sample_dict

{'name': 'Hemanth',
 'age': 24,
 'cgpa': 9.3,
 'marks': [96, 97, 98, 99],
 '_has_chopper': False}

In [10]:
# Changing the values
sample_dict[1] = "start"
sample_dict[-1] = "stop" # This accounts as a new key-value pair

In [9]:
sample_dict

{1: 'start', 2: 3, 3: 4, 4: 5, 5: 6, 6: 7, 7: 8, 8: 9, 9: 10, -1: 'stop'}

In [11]:
# Adding a new element
more_sample_dict['second_name'] = "S"

In [12]:
more_sample_dict

{'name': 'Hemanth',
 'age': 24,
 'cgpa': 9.3,
 'marks': [96, 97, 98, 99],
 '_has_chopper': False,
 'second_name': 'S'}

Another way of Creating a Dictionary

In [15]:
info = {}
info['Name'] = "hari"
info['age'] = more_sample_dict['age']
info['working'] = not more_sample_dict['_has_chopper']

In [16]:
info

{'Name': 'hari', 'age': 24, 'working': True}

Nested Dictionary

In [17]:
info['Hobbies'] = {
    "music" : True,
    "Adventure" : True
}

In [20]:
info

{'Name': 'hari',
 'age': 24,
 'working': True,
 'Hobbies': {'music': True, 'Adventure': True}}

In [19]:
info['Hobbies']['Adventure']

True

Methods in Dictionary

It just Appends-value

In [21]:
info.update({"sample_update" : "sample_update"})

Keys

In [23]:
info.keys()

dict_keys(['Name', 'age', 'working', 'Hobbies', 'sample_update'])

Values

In [24]:
info.values()

dict_values(['hari', 24, True, {'music': True, 'Adventure': True}, 'sample_update'])

Items : I can use this only for loops

In [25]:
info.items()

dict_items([('Name', 'hari'), ('age', 24), ('working', True), ('Hobbies', {'music': True, 'Adventure': True}), ('sample_update', 'sample_update')])

In [38]:
info_sample = info.items()

for key,values in info_sample:
    print(key)
    # print(values)
    if values == "hari":
        print("This will only exe if values == 'hari' :  ",values)

Name
This will only exe if values == 'hari' :   hari
age
working
Hobbies
sample_update

`GET` is used for error handling : In case to return None if the values and key is not present

In [45]:
print(info['Name'])
print(info.get('NAME')) # Basically Used for Error Handling

hari
None

SETS

Sets dosent consist any duplicate values..

In [47]:
collection = {1,2,3,4,5,6}
print(collection, type(collection))

{1, 2, 3, 4, 5, 6} <class 'set'>

In [48]:
# Consider a set with duplicate values 
collection_duplicate = {1,1,1,1,2,3,4,5,6}
print(collection_duplicate, type(collection_duplicate))

{1, 2, 3, 4, 5, 6} <class 'set'>

In [49]:
# You can also add len
print(len(collection_duplicate), len(collection))

6 6

Methods of sets

1. Add
2. Remove
3. Pop
4. clear
---
5. union
6. intersection

del set : use this when you cannot define set like : collection = set()

In [54]:
del set

In [55]:
empty_set = set()

In [62]:
empty_set.add(15) # You can only add 1 number..

In [61]:
empty_set

{1, 13, 15}

In [64]:
# If you try to add list to a set you get error

a = [1,2,3,4]
b = set(a)
print(a + b)

TypeError: can only concatenate list (not "set") to list

In [69]:
# Same with list and tuple

a = [1,2,3,4]
b = list(a)
for i,j in zip(a,b):
    print(i+j)

2
4
6
8

In [70]:
empty_set

{1, 13, 15}

In [71]:
# Clear
empty_set.clear()

In [73]:
empty_set # This is an empty set now..

set()

Union and Intersection

In [86]:
set_1 = {1,2,3,4,5,11}
set_2 = {11,6,7,8,9,10}

In [87]:
print(len(set_1), len(set_2))

6 6

In [88]:
print(set_1, set_2)

{1, 2, 3, 4, 5, 11} {6, 7, 8, 9, 10, 11}

In [89]:
# Trying the UNION
set_1.union(set_2) # takes Everythig which is common and not common

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [90]:
set_1.intersection(set_2)

{11}